
body
{
  font-family: "Outfit", sans-serif;
  box-sizing: border-box;

}

.button
{
  background:linear-gradient(180deg, #BDB2FD 0%, #917FF2 100%);
  border: 1.5px solid transparent;

  &:hover
  {
    opacity: 0.7;
  }


  &:active
  {

    background: #fff;
    color: #9583F3;
    border: 1.5px solid #9583F3;

  }
}

.container
{
  max-width: 1140px !important;
}

.hero
{


  .imgs
  {
    position: relative;
    


    &__kard
    {
      border-radius: 10px;
      padding: 5px;
      display: flex;
      border: 1px solid #FFFFFF80;
      box-shadow: 0px 4px 20px 0px #0000002d;
      position: absolute;

      div{
        display: inline-block;
        border-radius: 10px;
        padding: 12px;
        background:#FFFFFF;
        box-shadow: 0px 4px 20px 0px #00000029;

      }
    }
  }

}

.platform
{


  &__card{

    box-shadow: 0px 8.15px 6.52px 0px #00000008 ,  0px 50px 100px 0px #0000000A;

    .button
    {
      content: url(.img/);
    }

  }

}

.work
{
  margin-bottom: 100px;

  li{

    &::before
    {

      content:'';
      display: block;
      width: 21px;
      height: 21px;
      border-radius: 50%;
      margin-right: 10px;
      background:url('../img/Icon-chesk.svg'), linear-gradient(180deg, #FEBBC7 0%, #FF8CA1 100%);
      background-position: center;
      background-repeat: no-repeat;
    }

  }

  .kard
  {

    animation-duration:3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;

  }

  .owl
  {
    width:  96px;
    height: 96px;
  }

  .blue-kard
  {
    animation-name: blue-kard;
  }

  .pink-kard
  {
    animation-name: pink-kard;
  }

}


@keyframes blue-kard
{
    100%
    {
        transform: rotateZ(8deg);
    }
}

@keyframes pink-kard
{
    100%
    {
      transform: rotateZ(-13deg);
    }
}

.excl
{
  li{
    box-shadow: 0px 8.15px 6.52px 0px #00000002, 0px 50px 100px 0px #0000000A;

  }

  .blural
  {
    background: linear-gradient(180deg, #BDB2FD 0%, #917FF2 100%);
  }

}

.carusel
{
  background-image: url("../img/Group\ 51-client-bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}


#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}

.landing
{

  background: linear-gradient(180deg, #BDB2FD 0%, #917FF2 100%);

}










